<section id="contact">
    <div class="contact-container">
        <!-- Main Heading Starts -->
        <div class="container page-title text-center">
            <h2 class="text-center">get <span>in touch</span></h2>
            <span class="title-head-subtitle">I’m always open to discussing product design work or partnerships.</span>
        </div>
        <!-- Main Heading Ends -->
        <div class="container">
            <div class="row contact">
                <!-- Contact Infos Starts -->
                <div class="col-12 col-md-4 col-xl-4 leftside">
                    <ul class="custom-list">
                        <li>
                            <h6 class="font-weight-600"> <span class="contact-title">Phone</span><i class="fa fa-whatsapp"></i><span class="contact-content">+216 21 184 010</span></h6>
                        </li>
                        <li>
                            <h6 class="font-weight-600"> <span class="contact-title">email</span><i class="fa fa-envelope-o fs-14"></i><span class="contact-content">info@daria.ua</span></h6>

                        </li>
                        <li>
                            <h6 class="font-weight-600"><span class="contact-title">instagram</span><i class="fa fa-instagram"></i><span class="contact-content">daria.198</span></h6>

                        </li>
                        <li>
                            <h6 class="font-weight-600"><span class="contact-title">Dribbble </span><i class="fa fa-dribbble"></i><span class="contact-content">daria.dribble</span></h6>
                        </li>
                    </ul>

                    <!-- Social Media Profiles Starts -->

                    <div class="social">
                        <h6 class="font-weight-600 uppercase">Social Profiles</h6>
                        <ul class="list-inline social social-intro text-center p-none">
                            <li class="facebook"><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="twitter"><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="youtube"><a title="Youtube" href="#"><i class="fa fa-youtube"></i></a>
                            </li>
                            <li class="dribbble"><a title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Social Media Profiles Ends -->
                </div>
                <!-- Contact Infos Ends -->
                <!-- Contact Form Starts -->
                <div class="col-12 col-md-8 col-xl-8 rightside">
                    <p>
                        If you have any suggestion, project or even you want to say Hello.. please fill out the form below and I will reply you shortly.
                    </p>
                    <form class="contactform" method="post" action="php/process-form.php">
                        <div class="row">
                            <!-- Name Field Starts -->
                            <div class="form-group col-xl-6"> <i class="fa fa-user prefix"></i>
                                <input id="name" name="name" type="text" class="form-control" placeholder="YOUR NAME" required>
                            </div>
                            <!-- Name Field Ends -->
                            <!-- Email Field Starts -->
                            <div class="form-group col-xl-6"> <i class="fa fa-envelope prefix"></i>
                                <input id="email" type="email" name="email" class="form-control" placeholder="YOUR EMAIL" required>
                            </div>
                            <!-- Email Field Ends -->
                            <!-- Comment Textarea Starts -->
                            <div class="form-group col-xl-12"> <i class="fa fa-comments prefix"></i>
                                <textarea id="comment" name="comment" class="form-control" placeholder="YOUR MESSAGE" required></textarea>
                            </div>
                            <!-- Comment Textarea Ends -->
                        </div>
                        <!-- Submit Form Button Starts -->
                        <div class="submit-form">
                            <button class="btn button-animated" type="submit" name="send"><span><i class="fa fa-send"></i> Send Message</span></button>
                        </div>
                        <!-- Submit Form Button Ends -->
                        <div class="form-message"> <span class="output_message text-center font-weight-600 uppercase"></span>
                        </div>
                    </form>
                </div>
                <!-- Contact Form Ends -->

            </div>
        </div>
    </div>
</section>