<header
    id="header"
>
    <div class="nav-container">
        <div>
            <!-- Mobile Navigation Starts -->
            <!-- <ul id="nav" class="navigation">
					<li class="active">
						<div>
							<a id="link-home" href="#home" class="active">
								<i class="fa fa-home"></i><span>Home</span>
							</a>
						</div>
					</li>
					<li>
						<div>
							<a id="link-about" href="#about">
								<i class="fa fa-user"></i><span>About me</span>
							</a>
						</div>
					</li>
					<li>
						<div>
							<a id="link-work" href="#work">
								<i class="fa fa-briefcase"></i><span>my Portfolio</span>
							</a>
						</div>
					</li>
					<li>
						<div>
							<a id="link-contact" href="#contact">
								<i class="fa fa-envelope-open"></i><span>get in touch</span>
							</a>
						</div>
					</li>
					<li>
						<div>
							<a id="link-blog" href="#blog">
								<i class="fa fa-comments"></i><span>my Blog</span>
							</a>
						</div>
					</li>
				</ul> -->
            <!-- Mobile Navigation Ends -->
        </div>
    </div>
    <!-- Stretchy Navigation Starts -->
    <div class="cd-stretchy-nav">
        <a class="cd-nav-trigger" href="#0">
            <span aria-hidden="true"></span>
        </a>
        <ul class="stretchy-nav">
            <li class="active">
                <a href="#home"><span>Home</span></a>
            </li>
            <li>
                <a href="#about"><span>About</span></a>
            </li>
            <li>
                <a href="#works"><span>Portfolio</span></a>
            </li>
            <li>
                <a href="#contact"><span>Contact</span></a>
            </li>
            <li>
                <a href="#blog"><span>Blog</span></a>
            </li>
        </ul>
        <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </div>
    <!-- Stretchy Navigation Ends -->
</header>
