<section id="home">
    <!-- Text Rotator Starts -->
    <div class="main-text-container">
        <div class="main-text" id="selector">
            <h3>Hi there !</h3>
            <h1 class="ah-headline">
                I'm
                <span class="ah-words-wrapper">
                    <b class="is-visible">daria taylor</b>
                    <b>a web designer</b>
                    <b>a blogger</b>
                    <b>a freelancer</b>
                </span>
            </h1>
            <p>
                I'm a Freelance UI/UX Designer and Developer based in London,
                England. I strives to build immersive and beautiful web
                applications through carefully crafted code and user-centric
                design.
            </p>
            <div class="call-to-actions-home">
                <div class="text-left">
                    <a href="#about" class="btn link-portfolio-one"
                        ><span><i class="fa fa-user"></i>more about me</span></a
                    >
                    <a href="#work" class="btn btn-secondary link-portfolio-two"
                        ><span><i class="fa fa-suitcase"></i>portfolio</span></a
                    >
                </div>
            </div>
        </div>
    </div>
    <!-- Text Rotator Ends -->
</section>
